# Itnore the local network update script

get-updates.sh

configs/

default/

rpi/

test_bins/

scripts/makelinks.sh

scripts/lcwa-speed
scripts/lcwa-speed.org
scripts/lcwa-speed.bak

/lcwa-speed
/lcwa-speed.org
/lcwa-speed.bak
