# Itnore the local network update script

get-updates.sh

bak/
config/
configs/
default/
env/
pppoe/
rpi/
src/
speedfiles/
temp/

scripts/bak
scripts/makelinks.sh
scripts/lcwa-speed
scripts/lcwa-speed.org
scripts/lcwa-speed.bak

/lcwa-speed
/lcwa-speed.org
/lcwa-speed.bak
